<div class="cursor-pointer linkedin-preview w-[552px]">
  <div>
    <img class="h-[288px] object-cover w-full" [src]="metadata.imgUrl"  [alt]="metadata.title" appImgFallback/>
  </div>
  <div class="flex flex-col px-4 py-2.5 bg-[#f3f6f8] border-t-2">
    <span class="text-[14px] text-[#000000e6] font-semibold max-h-10">{{metadata.title}}{{metadata.author && metadata.author.length > 0? ' | ' + metadata.author : ''}}</span>
    <span class="text-[#00000099] font-normal max-h-[16px] overflow-hidden text-[12px]">{{metadata.url.replace('https://','')}}</span>
  </div>
</div>
