<div class="-outline-offset-1 relative w-[438px] max-w-full cursor-pointer overflow-hidden rounded-[0.85714em] border-[1px] border-[#e1e8ed] leading-[1.3em] text-black font-[Helvetica]">
  <div class="bg-cover bg-center bg-no-repeat">
    <div class="w-full relative h-0" style="padding-top: 52.33%;">
      <img class="h-full w-full absolute top-0 object-cover block" [src]="metadata.imgUrl" [alt]="metadata.title" appImgFallback></div>
  </div>
  <div class="absolute bottom-2 left-2 text-xs text-white bg-black bg-opacity-40 px-[4px] py-[2px] rounded">
    {{ metadata.url }}
  </div>
</div>
