<nz-layout>
    <nz-layout>
        <nz-content class="">
            <div class="flex flex-col items-center justify-center my-20">

                <div class="flex justify-center flex-col items-center">
                    <h1 class="text-5xl font-bold my-4 text-center">Meta / OG Tags Generator</h1>
                    <nz-page-header-subtitle class="text-center w-3/4">Effortlessly Generate and preview Meta Tags for
                        Optimal Web Visibility
                    </nz-page-header-subtitle>
                    <div class="flex gap-8 mt-6">
                        <!-- Place this tag where you want the button to render. -->
                        <a aria-label="Follow @luisvent on GitHub" class="github-button"
                           data-color-scheme="no-preference: light; light: light; dark: light;" data-size="large"
                           href="https://github.com/luisvent">Follow @luisvent</a>

                        <!-- Place this tag where you want the button to render. -->
                        <a aria-label="Star luisvent/meta_tag_generator on GitHub" class="github-button"
                           data-color-scheme="no-preference: light; light: light; dark: light;" data-icon="octicon-star"
                           data-size="large" href="https://github.com/luisvent/meta_tag_generator">Star</a>

                        <!-- Place this tag where you want the button to render. -->
                        <a aria-label="Fork luisvent/meta_tag_generator on GitHub" class="github-button"
                           data-color-scheme="no-preference: light; light: light; dark: light;"
                           data-icon="octicon-repo-forked" data-size="large"
                           href="https://github.com/luisvent/meta_tag_generator/fork">Fork</a>
                    </div>
                </div>
                <div class="flex justify-center xl:flex-row flex-c≤ol items-center gap-10 my-14">
                    <div class="w-full xl:w-[400px]">
                        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                            <input #websiteInput (keydown.enter)="getWebsiteMetatags()" [(ngModel)]="inputUrl"
                                   nz-input placeholder="ex: google.com" type="text"/>
                        </nz-input-group>
                        <ng-template #addOnBeforeTemplate>
                            <nz-select [(ngModel)]="websiteProtocol">
                                <nz-option nzLabel="http://" nzValue="http://"></nz-option>
                                <nz-option nzLabel="https://" nzValue="https://"></nz-option>
                            </nz-select>
                        </ng-template>
                    </div>
                    <button (click)="getWebsiteMetatags()" [disabled]="loading || websiteInput.value.length === 0"
                            data-testid="generate-btn"
                            nz-button nzType="primary">Website Metatags
                    </button>
                </div>
                <nz-spin *ngIf="loading" @an [nzSize]="'large'" nzSimple></nz-spin>
                <div class="flex w-full flex-col xl:flex-row xl:w-[800px] justify-center items-center xl:items-start gap-10">
                    <div class="bg-white p-3 forms w-96">
                        <nz-divider [nzText]="formTitle" nzDashed>
                            <ng-template #formTitle>
                                <div class="text-[18px] font-bold">
                                    <i class='bx bx-code-alt'></i>
                                    Generate Meta / Og Tags
                                </div>
                            </ng-template>
                        </nz-divider>

                        <form (ngSubmit)="generateMetatags()" [formGroup]="metadataForm" nz-form nzLayout="vertical">

                            <nz-form-item>
                                <nz-form-label [nzSpan]="7" nzRequired>Title</nz-form-label>
                                <nz-form-control [nzErrorTip]="titleErrorTpl" [nzMd]="24" [nzSpan]="12" nzHasFeedback
                                                 nzValidatingTip="Validating...">
                                    <input formControlName="title" nz-input placeholder="Website title"/>
                                    <ng-template #titleErrorTpl let-control>
                                        <ng-container *ngIf="control.hasError('required')">Title is required
                                        </ng-container>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                                <nz-form-label [nzSpan]="7">Author</nz-form-label>
                                <nz-form-control [nzMd]="24" [nzSpan]="12" nzHasFeedback>
                                    <input formControlName="author" nz-input placeholder="Website Author"/>
                                </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                                <nz-form-label [nzSpan]="7">Keywords</nz-form-label>
                                <nz-form-control [nzMd]="24" [nzSpan]="12" nzHasFeedback>
                                    <input formControlName="keywords" nz-input
                                           placeholder="Enter keywords separated by comma (,)"/>
                                </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                                <nz-form-label [nzSpan]="7">Url</nz-form-label>
                                <nz-form-control [nzMd]="24" [nzSpan]="12" nzHasFeedback>
                                    <input formControlName="url" nz-input placeholder="Website URL"/>
                                </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                                <nz-form-label [nzSpan]="7">Image Url</nz-form-label>
                                <nz-form-control [nzMd]="24" [nzSpan]="12" nzHasFeedback>
                                    <input formControlName="imgUrl" nz-input placeholder="Website image URL"/>
                                </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                                <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
                                <nz-form-control [nzMd]="24" [nzSpan]="12" nzErrorTip="Description required"
                                                 nzHasFeedback>
                                    <nz-textarea-count [nzMaxCharacterCount]="200">
                                        <textarea formControlName="description" nz-input
                                                  placeholder="Write webpage description..."
                                                  rows="2"></textarea>
                                    </nz-textarea-count>
                                </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                                <nz-form-label [nzMd]="24" [nzSpan]="5">Allow search engines to index your website
                                </nz-form-label>
                                <nz-form-control [nzMd]="24" [nzSpan]="12" nzHasFeedback>
                                    <nz-select formControlName="allowRobots">
                                        <nz-option [nzLabel]="'Yes'" [nzValue]="'Yes'"></nz-option>
                                        <nz-option [nzLabel]="'No'" [nzValue]="'No'"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                                <nz-form-label [nzSpan]="5">Language</nz-form-label>
                                <nz-form-control [nzMd]="24" [nzSpan]="12" nzHasFeedback>
                                    <nz-select formControlName="language">
                                        <nz-option *ngFor="let lang of Object.values(Language)" [nzLabel]="lang"
                                                   [nzValue]="lang"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>

                            <div class="flex justify-between">
                                <button [disabled]="!metadataForm.valid" nz-button nzType="primary">Generate Tags
                                </button>
                                <button (click)="resetForm()" nz-button nzType="default">Reset</button>
                            </div>

                        </form>
                    </div>
                    <div class="bg-white p-3 previews w-full">
                        <nz-divider [nzText]="previewTitle" nzDashed>
                            <ng-template #previewTitle>
                                <div class="text-[18px]  font-bold">
                                    <i class='bx bx-play-circle'></i>
                                    Preview
                                </div>
                            </ng-template>
                        </nz-divider>

                        <nz-tabset [nzSize]="'large'">

                            <nz-tab *ngFor="let network of networks" [nzTitle]="titleTemplate">
                                <ng-template #titleTemplate>
                                    <i [ngClass]="network.icon" class='bx'></i>
                                    {{ network.name }}
                                </ng-template>

                                <div class="flex justify-center items-center mt-10 overflow-auto">
                                    <ng-container [ngSwitch]="network.key">
                                        <app-facebook-preview *ngSwitchCase="'facebook'"
                                                              [metadata]="metadata"></app-facebook-preview>
                                        <app-pinterest-preview *ngSwitchCase="'pinterest'"
                                                               [metadata]="metadata"></app-pinterest-preview>
                                        <div *ngSwitchCase="'x'"
                                             class="flex flex-col gap-10 justify-center items-center">
                                            <app-xv2-preview [metadata]="metadata"></app-xv2-preview>
                                            <app-x-preview [metadata]="metadata"></app-x-preview>
                                        </div>
                                        <app-slack-preview *ngSwitchCase="'slack'"
                                                           [metadata]="metadata"></app-slack-preview>
                                        <app-discord-preview *ngSwitchCase="'discord'"
                                                             [metadata]="metadata"></app-discord-preview>
                                        <app-google-preview *ngSwitchCase="'google'"
                                                            [metadata]="metadata"></app-google-preview>
                                        <app-linkedin-preview *ngSwitchCase="'linkedin'"
                                                              [metadata]="metadata"></app-linkedin-preview>
                                    </ng-container>
                                </div>

                            </nz-tab>

                        </nz-tabset>
                        <div class="flex flex-col gap-4 m-4">
                        </div>
                    </div>
                </div>

                <nz-divider *ngIf="textCode" [nzText]="dividerTitle" nzDashed>
                    <ng-template #dividerTitle>
                        <div class="text-[18px] font-bold">
                            {{ metadata.url + ' - Meta / Og Tags' }}
                        </div>
                    </ng-template>
                </nz-divider>

                <div class="flex justify-center items-center my-10">
                    <app-html-code-snippet (codeCopied)="codeCopied()" *ngIf="textCode"
                                           [textCode]="textCode"></app-html-code-snippet>
                </div>
            </div>
        </nz-content>
    </nz-layout>
    <nz-footer class="flex justify-center items-center gap-4"><span>Meta Tag Generator @ Luis Ventura - 2024</span> <a
            href="https://github.com/luisvent/meta_tag_generator"><i
            class='transition hover:scale-125 cursor-pointer hover:text-neutral-600 text-2xl bx bxl-github'></i></a>
    </nz-footer>
</nz-layout>

<ng-template #notificationTemplate let-data="data">
    <nz-tag *ngIf="data.highlight" [nzColor]="data.highlight.color">{{ data.highlight.message }}</nz-tag>
    {{ data.message }}
</ng-template>
