/* You can add global styles to this file, and also import other style files */
/*@import "~ng-zorro-antd/ng-zorro-antd.dark.css";*/
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@import "../node_modules/prismjs/themes/prism.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

.dotted-bg {
  --dot-bg: white;
  --dot-color: #b5b5b5;
  --dot-size: 1px;
  --dot-space: 22px;

  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

.ligatures {
  font-feature-settings: "liga", "clig";
  font-variant-ligatures: common-ligatures;
}

nz-layout {
  background-color: transparent !important;
}
